.headline {
    text-transform: full-width;
    color: red;
}
#sidebar {
 color: deeppink;
}
.pos{
    color: red;
}
.des{
    color: deeppink;
}
.kek{
    color: green;
}
#os{
    text-decoration: none;
}
